body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:611px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:24px;
  width:91px;
  height:22px;
}
#u206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u206_input:disabled {
  color:grayText;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:480px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:45px;
  width:495px;
  height:480px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
