body {
  margin:0px;
  background-image:url('../../images/焊接力学性能预测系统v1_0/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:381px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:223px;
  width:665px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  white-space:nowrap;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:327px;
  width:300px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:379px;
  width:300px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:429px;
  width:150px;
  height:18px;
  font-family:'Book Antiqua Normal', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u3_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:479px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:425px;
  width:139px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
