{% extends 'index.html' %}
{% block content %}
<h1>Data Management</h1>
<div id="vuejsblock">
  <template v-if="isModelSelected">
    <div class="container jumbotron" style="margin-top: 5px">
      <h3>Model <a href='/NNModelManager/NNModelHome/' class="btn btn-dark">Select Another</a></h3>
      <div><selected-model-list :json="json"></selected-model-list></div>
    </div>
    <div class="container jumbotron" style="margin-top: 5px">
      <h3>Data</h3>
      <template v-if="isDataAvailable">
        <br><h6>Number of rows of data available: <span class="badge badge-secondary">[[data_rows]]</span></h6><br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Data Headers</span>
          </div>
          <textarea class="form-control" aria-label="data_headers" v-model="data_headers"></textarea>
        </div>
        <template>
          <Upload 
            accept=".csv"
            :data="insert_header_data"
            :on-success="insertSuccess"
            action="/NNModelManager/uploadDataForModel/">
              <br><Button class="btn btn-secondary btn-lg btn-block">Insert Data From CSV</Button>
          </Upload>
        </template>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Target Header</span>
          </div>
          <textarea class="form-control" aria-label="target_col_name" v-model="target_col_name"></textarea>
          <Button @click="changeTargetCol" class="btn btn-secondary" style="margin-left: 10px">Apply</Button>
        </div>
      </template>
      <template v-else>
        <br><p class="text-warning">No data available for this model yet.</p><br>
        <template>
          <Upload
            type="drag"
            accept=".csv"
            :data="upload_header_data"
            :on-success="uploadSuccess"
            action="/NNModelManager/uploadDataForModel/">
            <div style="padding: 20px 0">
                <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                <p>Click or drag files here to upload</p>
            </div>
          </Upload>
        </template>
      </template>
    </div>
  </template>
  <template v-else>
      <a href='/NNModelManager/NNModelHome/' class="btn btn-secondary btn-lg btn-block">SELECT OR CREATE A MODEL</a>
  </template>
</div>
{% endblock %}
{% block js %}
<script>
  var SelectedModelList = {
    props: ["json"],
    data: function() {
      return {
        columnsList: [
          {
              title: "Model Name",
              key: "model_name",
          },
          {
              title: "Number of Layers",
              key: "num_layers",
          },
          {
              title: "Input size",
              key: "input_size",
          },
          {
              title: "Create Date",
              key: "src_date",
          },
         ]
      };
    },
    template: `
        <div style="width:100%; height:100%; padding:20px;">
            <Table style="height:100%;" border :columns="columnsList" :data="json.records" v-if="json.result=='success'"></Table>
        </div>
    `
  };
</script>
<script>
  new Vue({
    el: '#vuejsblock',
    data: {
      isModelSelected: false,
      isDataAvailable: false,
      data_rows: null,
      data_headers: null,
      upload_header_data: null,
      insert_header_data: null,
      target_col_name: null,
      json: null,
    },
    delimiters: ["[[","]]"],
    methods: {
      checkModel(){
        var $this = this;
        data_to_send = {
            command: "check_model",
        };
        axios.post(
            '/NNModelManager/dataManage/',
            data_to_send
        )
        .then(function(response){
          console.log("Selected data: " + response.data.records[0]["model_name"]);
          if (response.data != 0){
            $this.isModelSelected = true;
            $this.json = response.data;
            $this.upload_header_data = {
              command: "upload",
              model_name: response.data.records[0]["model_name"],
            };
            $this.insert_header_data = {
              command: "insert",
              model_name: response.data.records[0]["model_name"],
            };
            if (!response.data.data_headers){
              $this.isDataAvailable = false;
            }
            else{
              $this.isDataAvailable = true;
              $this.data_rows = response.data.data_rows;
              $this.data_headers = response.data.data_headers;
              console.log(response.data.target_col_name)
              $this.target_col_name = response.data.target_col_name;
            }
          }
        })
        .catch(function(error){
          console.log(error);
        });
      },
      changeTargetCol(){
        var $this = this;
        data_to_send = {
            command: "change_target_col",
            target_col_name: $this.target_col_name
        };
        axios.post(
            '/NNModelManager/dataManage/',
            data_to_send
        )
        .then(function(response){
          result = response.data;
          switch(result){
            case 0:
              alert("succeed");
              location.reload();
              break;
            case 1:
              alert("no model name provided");
              break;
            case 2:
              alert("this column does not exist, make sure you pick one from header list");
              break;
            default:
              alert("unknown response from server")
          }
        })
      },
      uploadSuccess(response, file, fileList){
        alert("success")
        window.location.reload(true);
      },
      insertSuccess(response, file, fileList){
        alert("success")
        window.location.reload(true);
      },
    },
    beforeMount(){
      this.checkModel()
    },
    components: {
      'selected-model-list': SelectedModelList,
    }
  });
</script>
{% endblock %}