<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Neural Network Trainer</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

    <!-- iView CSS -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">

  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Neural Network Trainer</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/NNModelManager/NNModelHome/">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/NNModelManager/dataManage/">
                  <span data-feather="file"></span>
                  Data Managerment
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/NNModelManager/Operations/">
                  <span data-feather="file"></span>
                  Operations
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {% block content %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

          <h1>Model Configurations</h1>
          <div id="vuejsblock">
            <div>
              <template v-if="shouldCreateNewModel">
                <button @click="toggleModelCreateType" class="btn btn-secondary btn-lg btn-block">Use Existing Model</button><br>
                <h3 align="center">Create New Model</h1>
                <template v-if="shouldShowErrorMessage">
                  <p class="text-warning">Error: [[errorMessage]]</p>
                </template>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 200px">Model Name</span>
                  </div>
                  <input type="text" class="form-control" v-model="modelNameAO" placeholder="model name" aria-label="Model name" aria-describedby="modelNameAO">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 200px">Number of Input</span>
                  </div>
                  <input type="text" class="form-control" v-model="numInputAO" placeholder="5" aria-label="Number of Input" aria-describedby="numInputAO">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 200px">Number of Layers</span>
                  </div>
                  <input type="text" class="form-control" v-model="numLayersAO" placeholder="5" aria-label="Number of Layers" aria-describedby="numLayersAO">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 200px">Number of Neurons</span>
                  </div>
                  <input type="text" class="form-control" v-model="numNeuronsPerLayersAO" placeholder="Input for all layers, seperate by comma ',' e.g. 3,5,2" aria-label="Number of Neurons" aria-describedby="numNeuronsPerLayersAO">
                </div>
                <button @click="applyModelBasicConfig" class="btn btn-secondary btn-lg btn-block">Apply</button><br>
                <div id="vuejsblock">
                <template v-if="shouldShowMoreConfig">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="optimFuncAO" style="width: 200px">Optimise functions</label>
                    </div>
                    <select class="custom-select" v-model="optimFuncAO">
                      <option selected>Choose...</option>
                      <option value="1">mape</option>
                      <option value="2">mse</option>
                      <option value="3">mae</option>
                    </select>
                  </div>
                  <button @click="saveNewModel" class="btn btn-secondary btn-lg btn-block">Create</button><br>
                </template>
                </div>
              </template>
              <template v-else-if="loadComplete">
                <button @click="toggleModelCreateType" class="btn btn-secondary btn-lg btn-block">Create New Model</button><br>
                <div><history-model-list :json="json"></history-model-list></div>
                <confirm-delete-modal></confirm-delete-modal>
              </template>
              <template v-else>
                <spin>
                    <icon type="load-c" size=18 class="demo-spin-icon-load"></icon>
                    <div>Loading</div>
                </spin>
              </template>
            </div>
          </div>
          </div>
        {% endblock %}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vue.js" %}"></script>
    <!-- TODO: download ivew and axios from npm and replace this -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    {% block js %}
    <!-- global event hub -->
    <script>
    Vue.prototype.$eventHub = new Vue(); // Global event bus
    new Vue({
      template: '<App/>',
    });
    </script>
    <!-- iView modal -->
    <script>
    var confirmDeleteDialog = {
      data: function(){
        return{
          confirm_modal1: false,
          target_model: null
        }
      },
      delimiters: ["[[","]]"],
      methods:{
        showModal(name){
          this.confirm_modal1 = true;
          this.target_model = name;
        },
        ok(){
          console.log('confirmed delete model, posting to backend');
          data_to_send = {
                command: "delete_model",
                model_name: this.target_model
              };
          data_to_send = JSON.stringify(data_to_send);
          console.log(data_to_send);
          axios.post('/NNModelManager/NNModelHome/',
                  data_to_send)
                  .then(function(response){
                    console.log(response);
                  })
                  .catch(function(error){
                    console.log(error);
                  });
        },
        cancel(){
          console.log('delete canceled')
        }
      },
      created() {
        this.$eventHub.$on('showModalEvent', this.showModal);
      },
      template: `
        <Modal
            v-model="confirm_modal1"
            title="Confirm Delete"
            @on-ok="ok"
            @on-cancel="cancel">
            <p>Confirm Delete all reference of this model: [[target_model]]</p>
        </Modal>
      `
    };
    </script>
    <!-- iView Table -->
    <script>
    var HistoryModelList = {
      props: ["json"],
      data: function() {
        return {
          columnsList: [
            {
                title: "Model Name",
                key: "model_name",
                width: 110,
            },
            {
                title: "Number of Layers",
                key: "num_layers",
                width: 160,
                sortable: true
            },
            {
                title: "Min Train Error",
                key: "min_train_err",
                width: 150,
                sortable: true
            },
            {
                title: "Create Date",
                key: "src_date",
                width: 130,
                sortable: true
            },
            {
                title: "Create User",
                key: "user_created",
                width: 150
            },
            {
                title: 'Action',
                key: 'action',
                width: 150,
                align: 'center',
                render: (h, params) => {
                    return h('div', [
                        h('Button', {
                            props: {
                                type: 'primary',
                                size: 'small'
                            },
                            style: {
                                marginRight: '5px'
                            },
                            on: {
                                click: () => {
                                }
                            }
                        }, 'Select'),
                        h('Button', {
                            props: {
                                type: 'error',
                                size: 'small'
                            },
                            on: {
                                click: () => {
                                  var name = params.row.model_name;
                                  console.log("request to remove model: " + name);
                                  this.$eventHub.$emit('showModalEvent', name);
                                  this.remove(params.index)
                                }
                            }
                        }, 'Delete')
                    ]);
                }
            }
          ]
        };
      },
      methods: {
        remove(index){
          this.json.records.splice(index, 1);
        }
      },
      template: `
          <div style="width:100%; height:100%; padding:20px;">
              <Table style="height:100%;" border :columns="columnsList" :data="json.records" v-if="json.result=='success'"></Table>
          </div>
      `
    };
    </script>
    <!-- vuejs -->
    <script>
      new Vue({
        el: '#vuejsblock',
        data: {
          shouldCreateNewModel: true,
          shouldShowMoreConfig: false,
          shouldShowErrorMessage: false,
          modelNameAO: "",
          numInputAO: "",
          numLayersAO: "",
          numNeuronsPerLayersAO: "",
          optimFuncAO: "",
          errorMessage: "unknown error",
          loadComplete: false,
          json: null
        },
        delimiters: ["[[","]]"],
        methods: {
          toggleModelCreateType: function () {
            var $this = this;
            this.shouldShowMoreConfig = false;
            this.shouldCreateNewModel = !this.shouldCreateNewModel;
            if (!this.shouldCreateNewModel)
            {
              // query db to get all models
              data_to_send = {
                command: "get_history_model",
              };
              data_to_send = JSON.stringify(data_to_send);
              console.log(data_to_send);
              axios.post('/NNModelManager/NNModelHome/',
                      data_to_send)
                      .then(function(response){
                        $this.loadComplete = true;
                        $this.json = response.data;
                        console.log($this.json.records);
                      })
                      .catch(function(error){
                        console.log(error);
                      });
            }
            return
          },
          checkNeuronString: function(str){
            var array = str.split(',');
            if (array.length != parseInt(this.numLayersAO))
            {
              // neuron array does not match number of layers
              return false
            }
            else
            {
              var i;
              for (i = 0; i < parseInt(this.numLayersAO); i++)
              {
                var value = parseInt(array[i]);
                if (value < 0 | value > 100 | isNaN(value))
                {
                  // neuron range error
                  return false
                }
              }
            }
            return true
          },
          applyModelBasicConfig: function () {
            if (this.modelNameAO.length == 0)
            {
              this.errorMessage = "Model name invalid";
              this.shouldShowErrorMessage = true;
              return this.shouldShowMoreConfig = false
            }
            if ((this.numInputAO < 1) | (this.numInputAO > 50))
            {
              this.errorMessage = "Invalid number of input (1 ~ 50)";
              this.shouldShowErrorMessage = true;
              return this.shouldShowMoreConfig = false
            }
            if ((this.numLayersAO < 2) | (this.numLayersAO > 10))
            {
              this.errorMessage = "Invalid number of layers (2 ~ 10)";
              this.shouldShowErrorMessage = true;
              return this.shouldShowMoreConfig = false
            }
            if (!this.checkNeuronString(this.numNeuronsPerLayersAO))
            {
              this.errorMessage = "Invalid neurons string format";
              this.shouldShowErrorMessage = true;
              return this.shouldShowMoreConfig = false
            }
            this.shouldShowErrorMessage = false;
            return this.shouldShowMoreConfig = true
          },
          saveNewModel: function(){
            var optimFuncDic = {
              "1": "mape",
              "2": "mse",
              "3": "mae"
            }
            if (!optimFuncDic.hasOwnProperty(this.optimFuncAO))
            {
              this.errorMessage = "invalid selection on optimise function";
              return this.shouldShowErrorMessage = true;
            }
            this.shouldShowErrorMessage = false;
            data_to_send = {
                command: "save_json_model",
                model_name: this.modelNameAO,
                num_input: this.numInputAO,
                num_layers: this.numLayersAO,
                num_neuron_layer_str: this.numNeuronsPerLayersAO,
                optimise_function: optimFuncDic[this.optimFuncAO]
            };
            data_to_send = JSON.stringify(data_to_send);
            console.log(data_to_send);
            axios.post('/NNModelManager/NNModelHome/',
                    data_to_send)
                    .then(function(response){
                      console.log(response);
                      if (response.data == 1)
                      {
                        alert("the model name you have entered already exist, please use another one");
                      }
                      else
                      {
                        // TODO: redirect to model view 
                      }
                    })
                    .catch(function(error){
                      console.log(error);
                    });
          }
        },
        components: {
          'history-model-list': HistoryModelList,
          'confirm-delete-modal': confirmDeleteDialog
        }
      });
    </script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["1", "2", "3", "4", "5", "6", "7"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
    {% endblock %}
  </body>
</html>
