<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Neural Network Trainer</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Neural Network Trainer</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Data Managerment
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Model Configurations
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {% block content %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

          <h2>Data Entry</h2>
          <div id="vuejsblock">
            <div>
              <template v-if="shouldCreateNewModel">
                <button @click="toggleModelCreateType" class="btn btn-secondary btn-lg btn-block">Use Existing Model</button><br>
                <h3 align="center">Create New Model</h1>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="modelNameAO" style="width: 200px">Model Name</span>
                  </div>
                  <input type="text" class="form-control" placeholder="model name" aria-label="Model name" aria-describedby="modelNameAO">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="numInputAO" style="width: 200px">Number of Input</span>
                  </div>
                  <input type="text" class="form-control" placeholder="5" aria-label="Number of Input" aria-describedby="numInputAO">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="numLayersAO" style="width: 200px">Number of Layers</span>
                  </div>
                  <input type="text" class="form-control" placeholder="5" aria-label="Number of Layers" aria-describedby="numLayersAO">
                </div>
                <button @click="applyModelBasicConfig" class="btn btn-secondary btn-lg btn-block">Apply</button><br>
                <div id="vuejsblock">
                <template v-if="shouldShowMoreConfig">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="optimFuncAO" style="width: 200px">Optimise functions</label>
                    </div>
                    <select class="custom-select" id="optimFuncAO">
                      <option selected>Choose...</option>
                      <option value="1">adam</option>
                      <option value="2">sgd</option>
                      <option value="3">etc..</option>
                    </select>
                  </div>
                </template>
                </div>
              </template>
              <template v-else="">
                <button @click="toggleModelCreateType" class="btn btn-secondary btn-lg btn-block">Create New Model</button><br>
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Model Create Date</th>
                        <th scope="col">Info</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>28/05/2018</td>
                        <td><button class="btn btn-secondary">Model Info</button></td>
                        <td>
                          <button class="btn btn-success btn-block">Use Model</button><br>
                          <button class="btn btn-danger btn-block">Delete Model</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </template>
            </div>
          </div>
          </div>
        {% endblock %}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>

    {% block js %}
    <!-- vuejs -->
    <script>
      new Vue({
        el: '#vuejsblock',
        data: {
          shouldCreateNewModel: true,
          shouldShowMoreConfig: false
        },
        methods: {
          toggleModelCreateType: function () {
            return this.shouldCreateNewModel = !this.shouldCreateNewModel, this.shouldShowMoreConfig = false
          },
          applyModelBasicConfig: function () {
            return this.shouldShowMoreConfig = true
          }
        }
      })
    </script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["1", "2", "3", "4", "5", "6", "7"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
    {% endblock %}
  </body>
</html>
