{% extends 'index.html' %}
{% block content %}
<h1>Operations</h1>
<div id="vuejsblock">
  <div class="container jumbotron" style="margin-top: 5px">
    <template v-if="isPreviousTrainingResultAvailable">
      <h2>Previous Job Result </h2><br>
      <p style="font-size: 20px">
        1. model name: [[model_name]]<br>
        2. min error: [[min_err]]<br>
        3. export weights json: [[weights]]<br></p>
    </template>
    <template v-if="isReadyForTraining">
      <template v-if="isJobRunning">
        <h2>There is a job running, please wait...</h2><br>
        <div class="progress">
          <div
            id="training-progress-bar"
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 100%">
          </div>
        </div>
      </template>
      <template v-else>
        <h2>There is currently no job running for this user</h2><br>
        <p style="font-size: 20px"> You can submit a job on the selected dataset by clicking: </p><br>
        <button @click="submitJob" class="btn btn-secondary btn-lg btn-block">SUBMIT A TRAINING JOB</button>
        <br><p style="font-size: 20px"> You can view the model structure by clicking: </p><br>
        <button @click="showStruct" class="btn btn-secondary btn-lg btn-block">SHOW MODEL STRUCTURE</button>
        <template v-if="shouldShowStructure">
          <br><p style="font-size: 20px"> Model Architechture: </p><br>
          <img :src="struct_png" class="img-fluid" alt="Responsive image" style="border-style: ridge">
        </template>
      </template>
    </template>
    <template v-else>
        <br>
        <p style="font-size: 20px">One of the following criteria has not been met:<br>
            1. Model is selected<br>
            2. Model has data available<br>
            3. Model has target column selected</p>
        <br>
        <a href='/NNModelManager/NNModelHome/' class="btn btn-secondary btn-lg btn-block">SELECT OR CREATE A MODEL</a>
    </template>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  new Vue({
    el: '#vuejsblock',
    data: {
      isReadyForTraining: false,
      isPreviousTrainingResultAvailable: false,
      isJobRunning: false,
      shouldShowStructure: false,
      struct_png: null,
      model_name: null,
      min_err: null,
      weights: null,
      timer: '',
      isTimerRunning: false
    },
    delimiters: ["[[","]]"],
    methods: {
      submitJob(){
        var $this = this;
        data_to_send = {
            command: "submit_job",
        };
        axios.post(
            '/NNModelManager/Operations/',
            data_to_send
        )
        .then(function(response){
          alert("Job successfully submitted!");
          window.location.reload();
        })
        .catch(function(error){
          console.log(error);
        });
      },
      updateProgress(progress){
        var pb = document.getElementById("training-progress-bar");
        pb.setAttribute("style", "width: " + progress + "%");
      },
      showStruct(){
        var $this = this;
        data_to_send = {
            command: "show_struct",
        };
        axios.post(
            '/NNModelManager/Operations/',
            data_to_send
        )
        .then(function(response){
          console.log(response);
          $this.shouldShowStructure = true;
          $this.struct_png = 'data:image/png;base64,' + response.data;
        })
        .catch(function(error){
          console.log(error);
          $this.shouldShowStructure = false;
        });
      },
      checkJobStatus(){
        $this = this;
        data_to_send = {
            command: "check_job_status",
        };
        axios.post(
            '/NNModelManager/Operations/',
            data_to_send
        )
        .then(function(response){
          console.log(response);
          if(response.data == 1){
            $this.isJobRunning = false;
            clearInterval($this.timer);
            this.isTimerRunning = false;
          }
          else{
            $this.isJobRunning = true;
            if (!$this.isTimerRunning){
                // check status every 2 seconds
                console.log("set timer");
                $this.timer = setInterval($this.checkJobStatus, 2000);
                $this.isTimerRunning = true;
            }
          }
        })
        .catch(function(error){
          console.log(error);
        });
      },
      checkModel(){
        var $this = this;
        data_to_send = {
            command: "check_model",
        };
        axios.post(
            '/NNModelManager/dataManage/',
            data_to_send
        )
        .then(function(response){
          console.log("Selected data: " + response.data.records[0]["model_name"]);
          if (response.data != 0){
            if(
              response.data.data_headers &&
              response.data.data_rows &&
              response.data.target_col_name
            ){
              if (response.data.weights_json){
                $this.weights = response.data.weights_json;
                $this.min_err = response.data.min_train_err;
                $this.model_name = response.data.records[0]["model_name"];
                $this.isPreviousTrainingResultAvailable = true;
              }
              console.log("ready for training confirmed");
              $this.isReadyForTraining = true;
            }
            else{
              console.log("one of the property is missing");
              console.log(response.data)
              $this.isReadyForTraining = false;
            }
          }
        })
        .catch(function(error){
          console.log(error);
        });
        $this.checkJobStatus();
      },
    },
    beforeMount(){
      this.checkModel();
    },
    beforeDestroy() {
      clearInterval(this.timer);
      this.isTimerRunning = false;
    }
  });
</script>
{% endblock %}