body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:647px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:304px;
  width:219px;
  height:40px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:215px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:304px;
  width:178px;
  height:40px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:174px;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:80px;
  width:227px;
  height:40px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:210px;
  width:129px;
  height:22px;
}
#u212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u212_input:disabled {
  color:grayText;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:201px;
  width:219px;
  height:40px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:215px;
  word-wrap:break-word;
}
